.hero-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.hero-section {
  min-height: 100vh;
  background: linear-gradient(
    rgba(209, 208, 213, 0.816),
    rgba(91, 7, 118, 0.789)
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 5rem; */
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.hero-content h1,
p {
  text-align: left;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 3rem;
  max-width: 600px;
}

.hero-btn {
  background-color: rgb(100, 100, 232);
  display: block;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
