/* Header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: var(--color-bg);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header-container {
  /* max-width: var(--max-width); */
  width: 100%;
  height: 100%;
  /* margin: 0 3rem; */
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-dark);
  font-weight: 700;
  font-size: 20px;
}

.logo-icon {
  color: var(--color-primary);
}

.logo-text {
  font-weight: 700;
  text-decoration: none;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Botones del header */
.btn {
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 600;
  min-width: 130px;
  border-radius: var(--radius-md);
  cursor: pointer;
  border: none;
  transition: all var(--transition);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
  transform: translateY(-2px);
  box-shadow: var(--shadow-button);
}

.btn-secondary {
  background-color: transparent;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  transition: all var(--transition);
}

.btn-secondary:hover {
  background-color: var(--color-primary);
  color: var(--color-bg);
  transform: translateY(-2px);
  box-shadow: var(--shadow-button);
}

/* Responsive */
@media (max-width: 768px) {
  .header-container {
    padding: 0 20px;
  }

  .header-logo {
    font-size: 18px;
  }

  .btn {
    padding: 8px 16px;
    font-size: 13px;
  }
}

.header-user-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-md);
  background-color: #f8f9fa;
}
.user-email {
  font-size: 0.875rem;
  color: var(--color-text);
  font-weight: 500;
}
#logout-btn {
  min-width: auto;
  padding: 0.5rem 1rem;
}
