/* Header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: var(--color-bg);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header-container {
  /* max-width: var(--max-width); */
  width: 100%;
  height: 100%;
  /* margin: 0 3rem; */
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-dark);
  font-weight: 700;
  font-size: 20px;
}

.logo-icon {
  color: var(--color-primary);
}

.logo-text {
  font-weight: 700;
  text-decoration: none;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Botones del header */
.btn {
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 600;
  min-width: 130px;
  border-radius: var(--radius-md);
  cursor: pointer;
  border: none;
  transition: all var(--transition);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
  transform: translateY(-2px);
  box-shadow: var(--shadow-button);
}

.btn-secondary {
  background-color: transparent;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  transition: all var(--transition);
}

.btn-secondary:hover {
  background-color: var(--color-primary);
  color: var(--color-bg);
  transform: translateY(-2px);
  box-shadow: var(--shadow-button);
}

/* Responsive */
@media (max-width: 768px) {
  .header-container {
    padding: 0 2.5rem;
  }

  .header-logo {
    font-size: 18px;
  }

  .btn {
    padding: 8px 16px;
    font-size: 13px;
  }

  .visible-data {
    top: 64px;
    right: 44px;
  }
}

.btn-profile {
  border: none;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  background-color: rgb(68, 115, 255);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  transition: var(--transition);
}

.btn-profile:hover {
  background-color: rgb(68, 115, 255, 0.8);
  transform: translateY(-4px);
}

.hidden-data {
  position: absolute;
  top: 64px;
  right: 84px;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-md);
  background-color: rgb(177, 177, 177);
  color: var(--color-dark);

  /* Estado oculto por defecto */
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);

  /* Transiciones suaves */
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.hidden-data.visible-data {
  /* Estado visible */
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.menu-items {
  padding: 5px;
}

.menu-items:first-child span {
  margin-left: 8px;
}
.menu-items:last-child span {
  margin-left: 3px;
}

.menu-items:last-child:hover span {
  transition: all 0.2s ease;
  color: var(--color-primary);
}

.user-email {
  font-size: 0.675rem;
  color: var(--color-text);
  font-weight: 500;
}
#logout-btn {
  min-width: auto;
  cursor: pointer;
  /* padding: 0.5rem 1rem; */
  transition: var(--transition);
}
